@purple: #631383;

.margenes(@top: 0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @purple;
    color: white;
    .margenes(50px, opx);
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color:@purple;
    color: aliceblue;
    .margenes(10px, opx);
  }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, opx);
 }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 15px; }
  